*{
  border: 0.5px red dashed; 
  margin:0px;
  padding:0px; 
  box-sizing: border-box;
}

body {
  background-color: #F2EFEF;
  min-width:100%;
}

.container{ 
    width: 100%;
    height: 100vh;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
          "icon"               
          "signature"           
          "nav"
          "hr"
          "portrait"
          "content"
          "resume-link"
          "footer";
  }


/* S section */
.icon {
  grid-area: icon;
  text-align: center;
  margin: 0 auto;
  width: 8vw;
}

.icon:hover {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: reverse;
  -moz-animation-name: spin;
  -moz-animation-duration: 1500ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: reverse;
  -ms-animation-name: spin;
  -ms-animation-duration: 1500ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -ms-animation-direction: reverse;
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.signature {
  height: 4vw;
  width: 14vw;
  margin: 0 auto;
}

/*navbar*/
nav {
    font-family: 'Poppins', sans-serif; 
    font-size: 5vw;
    width: 80vw;
    margin: 0 auto;
  }  

nav ul {
    display:flex;
    justify-content: space-between;
    text-align: center;
    
  }

nav li {
    display: flex;
    list-style: none;
}

  /* unvisited link */
nav li a:link {
    color: #240707;
    text-decoration: none;
  }
  
/* visited link */
nav li a:visited {
    color: #240707;   
  } 

/* selected link */
nav li a:active {
    color: #240707;
  }  

  /* line */
.hr {
  border: 1px solid;
  border-radius: 10px;
  width: 90vw;
  margin: 0 auto;
  }

.portrait {
  grid-area: portrait;
  width: 100%;
  padding: 20px 20px 10px 20px;
}

/* about section */
.content {
  grid-area: content;
  font-family: 'Lora', serif; 
  max-width: 100%;
  height: auto;
  font-size: 5vw;
  margin: 0 auto;
  padding: 10px 20px;
}

.resume-link {
  grid-area: resume-link;
  font-family: 'Poppins', sans-serif; 
  font-size: 5.3vw; 
  margin: 2em 7em;
  display: flex;
  text-decoration: none;
  color: #240707;   
}

.resume-link:active {
  color: #240707;
}

footer {
  grid-area: footer; 
}

footer ul { 
  display: flex;
  margin:0;
  padding:0;
  height: 20vw;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: #240707;
}

footer li {
  list-style: none;
  align-self: center;
}

footer li a {
  width: 0 auto;
  text-decoration: none;
  transition: .3s;
}

.instagram { 
  display: flex;
  width: 10vw;
}

.fa-fa-linkedin { 
  display: flex;
  width: 10vw;
}

.fa-fa-github { 
  display: flex;
  width: 10vw;
}

/* grid system for desktop */
@media (min-width:800px){
  .container{  
    width: 100%;  
    height: 100vh;
    display:grid;
    grid-template-columns: repeat(autofit, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-template-areas:
        "i . . . . . . . . n n"
        "s . . . . . . . . . ."
        "h h h h h h h h h h h"
        "p p p . . c c c . . ."
        "p p p . . r r r . . ."
        "f f f f f f f f f f f";
  }

  .icon {
    grid-area: i;
    margin: auto;
    width: 8vw;
  }

  .signature {
    grid-area: s;
  }

  /*navbar*/
nav {
  grid-area: n;
  font-family: 'Poppins', sans-serif; 
  font-size: 1vw;
  width: 80vw;
  margin: 0 auto;
}  

nav ul {
  grid-area: n;
  display:flex;
  justify-content: flex-end;
  text-align: center;
  margin-left: 4px;
}

nav li {
  grid-area: n;
  display: flex;
}

/* mouse over link */
nav li a:hover {
  color: orange;
}

/* line */
hr {
  grid-area: h;
  border: 1px solid;
  border-radius: 10px;
  width: 600vw;
  }

.portrait {
 grid-area: p;
 
}

/* about section */
.content {
  grid-area: c;
  font-family: 'Lora', serif;
  font-size: 28pt; 
  width: 160vw;
  margin: 0;
  padding: 0;
}

.resume-link {
  grid-area: r;
  font-family: 'Poppins', sans-serif; 
  font-size: 5.5vw; 
  margin: 2em 7em;
  display: flex;
  text-decoration: none;
  color: #240707;   
}

.resume-link:hover {
  color: orange;
}

footer {
  grid-area: f; 
}

footer ul li:hover {
  opacity: 0.6;
}

}
